![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [3]:
# Criando uma lista
lista_compra = ["arroz, frango, tomate, leite"]

In [7]:
type(lista_compra)

list

In [9]:
# Imprimindo a lista
print(lista_compra)

['arroz, frango, tomate, leite']

In [11]:
len(lista_compra)

1

In [13]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [15]:
type(lista_2)

list

In [17]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [19]:
len(lista_2)

4

In [21]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [23]:
type(lista_3)

list

In [25]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [27]:
len(lista_3)

3

In [31]:
lista_3[2][13::]

'Dados'

In [33]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [35]:
# Imprimindo as variáveis
print(item1)
print(item2)
print(item3)

23
100
Cientista de Dados

In [37]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [39]:
for i in range(len(notas)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [41]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [43]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [45]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [47]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [49]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [51]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [53]:
# Deletando um item específico da lista
del lista_2[3]

In [55]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [57]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [59]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [61]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [65]:
a

[1, 2, 3]

In [63]:
listas[0][1]

2

In [67]:
a

[1, 2, 3]

In [69]:
b = a[0]

In [71]:
b

1

In [73]:
list1 = listas[1]

In [75]:
list1

[10, 15, 14]

In [77]:
valor_1_0 = list1[0]

In [79]:
valor_1_0

10

In [81]:
valor_1_2 = list1[2]

In [83]:
valor_1_2

14

In [85]:
list2 = listas[2]

In [87]:
list2

[10.1, 8.7, 2.3]

In [89]:
valor_2_0 = list2[0]

In [91]:
valor_2_0

10.1

#### Operações com Listas

In [93]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [95]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [97]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [99]:
a

1

In [101]:
b = listas[1][2]

In [103]:
b

14

In [105]:
c = listas[0][2] + 10

In [107]:
c

13

In [109]:
d = 10

In [111]:
d

10

In [113]:
e = d * listas[2][0]

In [115]:
e

101.0

#### Concatenando Listas

In [117]:
lista_s1 = [34, 32, 56]

In [119]:
lista_s1

[34, 32, 56]

In [121]:
lista_s2 = [21, 90, 51]

In [123]:
lista_s2

[21, 90, 51]

In [125]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [127]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [129]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [131]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [133]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [135]:
lista_s1.

[34, 32, 56]

![Listas](listas.jpg)

In [137]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [139]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [141]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [143]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [145]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [147]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [149]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [151]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [153]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [155]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [157]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [159]:
# Criando uma lista vazia
a = []

In [161]:
print(a)

[]

In [163]:
type(a)

list

In [165]:
a.append(10)

In [167]:
a

[10]

In [169]:
a.append(50)

In [171]:
a

[10, 50]

In [173]:
old_list = [1,2,5,10]

In [175]:
new_list = []

In [177]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [179]:
new_list

[1, 2, 5, 10]

In [183]:
old_list = [1,2,5,10]

In [185]:
new_list_inv = []

In [187]:
for item in old_list[::-1]:
    new_list_inv.append(item)

In [189]:
new_list_inv

[10, 5, 2, 1]

In [191]:
old_list

[1, 2, 5, 10]

In [193]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  6
Digite um valor (-1 para sair):  9
Digite um valor (-1 para sair):  45
Digite um valor (-1 para sair):  21
Digite um valor (-1 para sair):  67
Digite um valor (-1 para sair):  -1

[6, 9, 45, 21, 67]

In [ ]:
new_list

In [195]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [197]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [199]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [201]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [203]:
cidades.insert(2, 110)

In [205]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [207]:
# Remove um item da lista
cidades.remove(110)

In [209]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [211]:
# Reverte a lista
cidades.reverse()

In [213]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [215]:
x = [3, 4, 2, 1]

In [217]:
x

[3, 4, 2, 1]

In [219]:
# Ordena a lista
x.sort()

In [221]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [ ]:
# Imprimindo a tupla
tupla1

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
tupla1[0]

In [ ]:
# Verificando o comprimento da tupla
len(tupla1)

In [ ]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

In [ ]:
tupla1.index('Elefantes')

In [ ]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes_dict

In [ ]:
type(estudantes_dict)

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [226]:
lista1 = []
for i in range(5):
    x = int(input("Digite o valor: "))
    lista1.append(x)
lista1.reverse()
print(lista1)

Digite o valor:  10
Digite o valor:  2
Digite o valor:  3
Digite o valor:  4
Digite o valor:  5

[5, 4, 3, 2, 10]

2. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [231]:
lista1 = []
for i in range(5):
    x = int(input("Digite o valor: "))
    lista1.append(x)
maior = max(lista1)
i = lista1.index(maior)
print(f"O maior valor é {maior} e está na posição {i}!")

Digite o valor:  1
Digite o valor:  2
Digite o valor:  3
Digite o valor:  4
Digite o valor:  5

O maior valor é 5 e está na posição 4!

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [233]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

15

In [235]:
for i in range(6):
    a = randint(1, 60)
    print(a)

13
14
42
55
6
40

In [239]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (10):
    lado = randint(1, 6)
    print(lado, end=" ")

1 5 4 3 4 2 1 3 1 3

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [252]:
jogadas = [0, 0, 0, 0, 0, 0, 0]
for i in range (6000):
    lado = randint(1, 6)
    jogadas[lado] += 1
print(jogadas)
perc = [0, 0, 0, 0, 0, 0, 0]
for i in range(1, 7):
    perc[i] = (jogadas[i]/6000)*100
    perc[i] = int(perc[i] * 100) / 100
print(perc)

[0, 1043, 979, 998, 1057, 952, 971]
[0, 17.38, 16.31, 16.63, 17.61, 15.86, 16.18]

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 12